
@model IEnumerable<ServicePortal.Models.Accesory>
@{
    ViewBag.Title = "Accessories";
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-heading">
        List Of Accessories
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>

                        <th>Description</th>
                        <th>Accessories</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                   

                    @foreach (var itm in Model)
                    {
                    <tr id="row2_@itm.Id">


                        <td style="width:500px">@itm.Description</td>

                        @if (itm.AccessoryID == null)
    {
                        <td>This product is not part of our stock</td>
}
else
{
                    <td>@itm.Category.Catgory | @itm.SubCategory.SubCat | @itm.Model.Models</td>
}

                    <td>
                        <a href="#" class="btn btn-outline btn-primary oo" onclick="Dellaccessories(@itm.Id);" title="delete"><i class="fa fa-trash-o"></i></a>

                    </td>
                    </tr>

                      
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="ConfirmAccesoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>*@
                <h4 class="modal-title" id="myModalLabel">Add New Manfacturer</h4>
            </div>

            <div class="modal-body">

                <p>Are you sure you want to delete Accesory ?</p>
                <hr>
                <input type="submit" class="btn btn-danger btn-outline" id="ConfiraccesorymDell" value="Confirm">
                <input type="button" class="btn btn-success btn-outline" id="CanceaccesorylDell" value="Cancel">

            </div>


        </div>
    </div>

</div>
<script>

    var Dellaccessories = function (Id) {
        var x = Id;
        debugger
        $("#ConfirmAccesoryModal").modal("show");
        $("#ConfiraccesorymDell").click(function () {
            $.ajax({
                type: 'post',
                url: '/Inventory/AccessoriesDelete',
                data: {

                    ID: x
                },

                success: function (response) {
                    $("#ConfirmAccesoryModal").modal("hide");
                    $("#row2_" + Id).remove();
                }

            });
            return false
        });
        $("#CanceaccesorylDell").click(function () {
            $("#ConfirmAccesoryModal").modal("hide");

        });


    }

    //$('.gg').click(function () {
    //    var a = 10;
    //    debugger

    //});

</script>