
@model IEnumerable<ServicePortal.Models.inventryItem>
@{
    ViewBag.Title = "GroupByItemList";
    Layout = "~/Views/Shared/HeadofficeMasterPage.cshtml";
}


<div class="panel panel-default">

    <div class="panel-body">
        <div class="table-responsive">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                    <thead>
                        <tr>
                            @*<th>Item Name</th>

        <th>Model</th>*@
                            <th>Image</th>
                            <th>Description</th>
                            <th>Details</th>

                            <th>Action</th>


                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var itm in Model)
                        {
                        <tr>

                            @*<td>@itm.SubCategory.Category.Catgory @itm.SubCategory.SubCat</td>


                            <td>@itm.Model.Models</td>*@

                            <td >
                                <img src=@itm.Image style="width:80px; height:80px;" alt="auto" />
                            </td>
                            <td style="width:500px">@itm.SalesDescription</td>




                            <td>
                                <a href="@Url.Action("DetailItemID","InventoryDetails",new {id=itm.id })" class="btn btn-outline btn-primary" title="View Details">
                                   View Details
                                </a>
                            </td>
                            <td>
                              
                                <a href="@Url.Action("NewInv","Inventory",new {id = itm.id})" class="btn btn-outline btn-primary " title="Edit" id="edtitm">
                                 Click to Edit
                                </a>
                            </td>


                        </tr>

                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

